/synopsis/auto/master.el
/synopsis/master.aux
/synopsis/master.bbl
/synopsis/master.blg
/synopsis/master.log
/synopsis/master.lox
/synopsis/master.pdf
/report/master.aux
/report/master.bbl
/report/master.blg
/report/master.log
/report/master.lox
/report/master.pdf
/report/synopsis.aux
/report/synopsis.bbl
/report/synopsis.blg
/report/synopsis.log
/report/auto/master.el
