/synopsis/auto/master.el
/synopsis/master.aux
/synopsis/master.bbl
/synopsis/master.blg
/synopsis/master.log
/synopsis/master.lox
/synopsis/master.pdf
/report/master.aux
/report/master.bbl
/report/master.blg
/report/master.log
/report/master.lox
/report/master.pdf
/report/synopsis.aux
/report/synopsis.bbl
/report/synopsis.blg
/report/synopsis.log
/report/auto/master.el
/report/auto/synopsis.el
/report/synopsis.lox
/report/synopsis.pdf
/report/synopsis.out
/report/master.toc
/src/test/jlouis-minillvm-20091110.tar.gz
/src/test/jlouis-minillvm-20091110/fun-test.elf
/src/test/jlouis-minillvm-20091110/prelude-properties.elf
/src/test/jlouis-minillvm-20091110/prelude.elf
/src/test/jlouis-minillvm-20091110/sources.cfg
/report/auto/jlouis.el
/report/jlouis.log
